.glow-box {
    border-radius: 15px;
    box-shadow: 0 0 10px #ffebd1, 0 0 15px #ffebd1;
    transition: all 0.3s ease-in-out;
  }
  
  .glow-box:hover {
    box-shadow: 0 0 20px #ffebd1, 0 0 30px #ffebd1;
  }
  
  .has-text-centered {
    text-align: center;
  }
  
  .news-post-width {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  