.team-member-container {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .team-member-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;  
  }
  
  .team-member-details {
    display: flex;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
  }

  .team-member-image img {
    border-radius: 250px;  /* Makes the image circular */
  }
  

  .team-member-image {
    flex: 1;
    transform: scale(0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .team-member-image.active {
    transform: scale(1);
  }
  
  
  .team-member-info {
    flex: 2;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .team-list {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  /* do display bock of team member details on phone */
  @media (max-width: 600px) {
    .team-member-details {
      display: block;
    }
    .team-member-info {
      margin-top: 20px;
    }
  }